article {
  & > * {
    min-width: 0;
  }

  & > p {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    letter-spacing: 0.01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    color: rgba(0,0,0,.84);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  & > .aside {
    margin: 30px 20px;
    color: #666;
    font-size: 0.8em;
  }
}

img {
  width: 100%;
}

.line-numbers a {
  text-decoration: none;
  color: #000;
  padding-right: 1em;
}

code {
  background: #eee;
  padding: 2px 5px;
}

pre {
  background: #eee;
  padding: 10px 15px;
  overflow: auto;

  & > code {
    padding: 0;
  }
}

figure {
  margin: 0;

  figcaption {
    color: #666;
    font-style: italic;
    font-size: 0.8em;
  }
}